.new-expense__controls
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0.3rem;
    display: block;
}

.new-expense__control input
{
    background-color:inherit;
    margin-bottom: 0.3rem;
    font: inherit;
    padding: 0.2rem;
    width: 26rem;
    max-width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(3, 88, 137);
    color: rgb(40, 99, 134);
    text-align:left;
    font-size: 26px;
    /* font-family: sans-serif; */
}
.new-expense__actions
{
    text-align: right;
}