.new-expense
{
    background-color:#f1fffe3d;
    backdrop-filter:blur(6px);
    border: 1px solid white;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    /* text-align: center; */
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.36);
}

.new-expense button
{
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: aliceblue;
    background-color: grey;
    border: 1px solid aliceblue;
    border-radius:12px ;
}

.new-expense button:hover,
.new-expense button:active
{
    background-color: rgba(79, 76, 76, 0.723);
    border-color: rgba(212, 208, 215, 0.711);
}

.new-expense button.alternative
{
    color:rgb(79, 78, 78) ;
    border-color: transparent;
    background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active
{
    background-color:rgb(17, 152, 167);
}