*
{
    box-sizing: border-box;
}
html
{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    /* background-color: #fbf9ff; */
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-blue-and-yellow-glass-morphism-picture-image_1468156.jpg);
    background-size:cover;
    background-attachment: fixed;
}